<p class="section">Issues / Housing</p>
<h1>Members interests and activities</h1>
<div class="">
	<p class="lede">3 MPs or Lords have listed 'housing' as an interest in their biography.</p>
	<div class="results-interests">
		<ul class="three-column">
			<li><a href="#" >Baroness Hargreaves</a></li>
			<li><a href="#" >Tom Cox MP</a></li>
			<li><a href="#" >Jack Evans MP</a></li>
		</ul>
	</div>
</div>

<div class="results-members">
	<form class="results-filters form-group">
		<h2 class="results-filters__group-title">Filters</h2>
		<h3 class="results-filters__title">House:</h3>
		<div class="two-column">
			<div class="form-group-checkbox">
				<input type="checkbox" class="house-checkbox" name="Lords" checked="checked">
				<label for="Lords" >Lords</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" class="house-checkbox" name="Commons" checked="checked">
				<label for="Commons" >Commons</label>
			</div>
		</div>
		<h3 class="results-filters__title">Contribution type:</h3>
		<div class="two-column">
			<div class="form-group-checkbox">
				<input type="checkbox" name="commitee" checked="checked">
				<label for="commitee">Member of a committee</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="bill" checked="checked">
				<label for="bill">Private members' bills</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="oral" checked="checked">
				<label for="oral">Oral questions</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="written" checked="checked">
				<label for="written">Written questions</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="debate" checked="checked">
				<label for="debate">Spoken in a debate</label>
			</div>
			<div class="form-group-checkbox">
				<input type="checkbox" name="edm" checked="checked">
				<label for="EDM">Early Day Motions</label>
			</div>
		</div>
		<h3 class="results-filters__title">Time:</h3>
		<div>
			<label for="time" class="visually-hidden">Time:</label>
			<select name="time" >
				<option value="Past week" disabled>Past week</option>
				<option value="Past month" disabled>Past month</option>
				<option value="Past 6 months" disabled>Past 6 months</option>
				<option value="Past year" selected="selected">Past year</option>
				<option value="Past 2 years" disabled>Past 2 years</option>
				<option value="Past 5 years" disabled>Past 5 years</option>
				<option value="Past 10 years" disabled>Past 10 years</option>
				<option value="Custom range" disabled>Custom range</option>
			</select>
		</div>
	</form>

	<div class="results-members__list">
		<p class="lede lede--results">6 MPs or Lords have contributed in Parliament around this issue this past year.</p>
		
		<div class="card" data-house="commons" data-contributions="commitee, oral, written, debate, edm" >
			<img class="card__profile" alt="Claire Miller MP" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Claire Miller MP</a>
				</h2>
				<p>47 contributions</p>
				<ul>
					<li>Member of <a href="#" >1 related commitee</a></li>
					<li><a href="#" >23 questions tabled</a></li>
					<li>Spoken in <a href="#" >14 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

		<div class="card" data-house="lords" data-contributions="commitee, oral, written, debate" >
			<img class="card__profile" alt="Lord Stratton" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Lord Stratton</a>
				</h2>
				<p>20 contributions</p>
				<ul>
					<li>Member of <a href="#" >1 related commitee</a></li>
					<li><a href="#" >1 questions tabled</a></li>
					<li>Spoken in <a href="#" >15 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

		
		<div class="card" data-house="commons" data-contributions="commitee, oral, written, debate, edm" >
			<img class="card__profile" alt="Rt Hon Dennis Smith MP" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Rt Hon Dennis Smith MP</a>
				</h2>
				<p>18 contributions</p>
				<ul>
					<li>Member of <a href="#" >1 related commitee</a></li>
					<li><a href="#" >5 questions tabled</a></li>
					<li>Spoken in <a href="#" >6 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>


		<div class="card" data-house="lords" data-contributions="oral, written, debate, edm" >
			<img class="card__profile" alt="Baroness Hargreaves" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Baroness Hargreaves</a>
				</h2>
				<p>11 contributions</p>
				<ul>
					<li><a href="#" >2 questions tabled</a></li>
					<li>Spoken in <a href="#" >1 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

		<div class="card" data-house="commons" data-contributions="written, debate" >
			<img class="card__profile" alt="Jonathan Stuart MP" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Jonathan Stuart MP</a>
				</h2>
				<p>8 contributions</p>
				<ul>
					<li><a href="#" >5 questions tabled</a></li>
					<li>Spoken in <a href="#" >2 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>

		<div class="card" data-house="commons" data-contributions="written, debate" >
			<img class="card__profile" alt="Jennie Brown MP" src="<%= path_to_image('avatar.png') %>" />
			<div class="card__details">
				<h2 class="card__title">
					<a href="#" >Jennie Brown MP</a>
				</h2>
				<p>7 contributions</p>
				<ul>
					<li><a href="#" >1 questions tabled</a></li>
					<li>Spoken in <a href="#" >6 debates</a></li>		
				</ul>
				<a href="#" >See all activity</a>
			</div>
		</div>





	</div>
</div>
